<md-content flex layout="column" layout-align="center center">
    <h3>Joker Register</h3>
    <md-input-container>
        <label>Name</label>
        <input ng-model="ctrl.name">
    </md-input-container>
    <input name="img" type="file" file-model="ctrl.img">
    <md-button class="md-raised" ng-click="ctrl.register(ctrl.img, ctrl.name)">Register</md-button>
</md-content>
